:root {
   --white-color: #ffffff;
   --alpha-white-color: rgba(255, 255, 255, 0.6);
   --main-color: #2196f3;
   --primary-text-color: #757575;
   --black-color: #212121;
   --outline-border: #eeeeee;
   --grey-color: #f5f4fa;
   --black-bg-color: #2f303a;
}

body {
   color: var(--black-color);
   font-size: 14px;
   font-weight: 500;
   font-family: "Roboto" sans-serif;
}

a {
   text-decoration: none;
}

.btn {
   padding: 6px 22px;
   background: var(--grey-color);
   color: var(--black-color);
   border-radius: 4px;
   border: none;
   font-family: Roboto;
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 0.03em;
   cursor: pointer;
}

.btn:hover,
.btn:focus {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   background: var(--main-color);
   transition: 0.3s;
   color: var(--white-color);
}

.container {
   margin: 0 auto;
   max-width: 1170px;
}

/* HEADER */

.logo-link {
   font-family: Raleway;
   font-style: normal;
   font-weight: bold;
   font-size: 26px;
   line-height: 31px;
   color: var(--black-color);
}

.logo-web {
   color: var(--main-color);
   font-size: 26px;
   line-height: 31px;
}

.header-nav-list-item {
   /* font-family: Roboto; */
   line-height: 16px;
   letter-spacing: 0.02em;
   color: var(--black-color);
}

.link {
   line-height: 16px;
   letter-spacing: 0.02em;
   color: var(--black-color);
}

.link:hover,
.link:focus {
   color: var(--main-color);
}

.header-contact-item {
   line-height: 16px;
   letter-spacing: 0.02em;
   color: var(--primary-text-color);
}

/* Hero */

.hero-section {
   background-color: var(--black-bg-color);
}

.hero-heading {
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white-color);
}

.hero-button {
   padding: 10px 32px;
   color: var(--white-color);
   background-color: var(--main-color);
}

/* ADVANTAGES */

.advantages-item-heading {
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.advantages-item-paragraph {
   line-height: 24px;
   letter-spacing: 0.03em;
   color: var(--grey-text);
}

/* WHAT WE DO */
.what-we-do-heading {
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
}
.what-we-do-img {
   width: 370px;
   height: 294px;
}

/* OUR TEAM */

.our-team-heading {
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--black-color);
}
.our-team-item-img {
   width: 270px;
   height: 260px;
}
.our-team-item-description-heading,.our-team-item-paragraph {
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--black-color);
}


/* footer */
.footer {
   background-color: var(--black-bg-color);
}

.footer > .container > .logo-link {
   color: var(--white-color);
}

.footer-address-link {
   line-height: 24px;
   letter-spacing: 0.03em;
   font-style: normal;
   color: var(--alpha-white-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
   color: var(--white-color);
}

/* PORFOLIO!!!!!!!!!!!!!!! */

/* portfolio-button-list */

/* portfolio-cards-list */

.portfolio-cards-list-item {
   /* display: inline-block; */
   background-color: var(--white-color);
   border: 1px solid var(--outline-border);
   box-sizing: border-box;
}
.potrfolio-cards-item-img {
   width: 370px;
   height: 294px;
}
.portfolio-cards-item-heading {
   font-size: 18px;
   line-height: 36px;
   color: var(--black-color);
   letter-spacing: 0.06em;
}

.portfolio-cards-item-paragraph {
   font-size: 16px;
   line-height: 30px;
   color: var(--primary-text-color);
   letter-spacing: 0.03em;
}
